In [7]:
#import libraries
import pandas as pd 
import numpy as np

## Import rent dataset

In [9]:
df_renta_2015 = pd.read_csv('./data/renta/2015_atles_renda_bruta_llar.csv')
df_renta_2016 = pd.read_csv('./data/renta/2016_atles_renda_bruta_llar.csv')
df_renta_2017 = pd.read_csv('./data/renta/2017_atles_renda_bruta_llar.csv')
df_renta_2018 = pd.read_csv('./data/renta/2018_atles_renda_bruta_llar.csv')
df_renta_2019 = pd.read_csv('./data/renta/2019_atles_renda_bruta_llar.csv')
df_renta_2020 = pd.read_csv('./data/renta/2020_atles_renda_bruta_llar.csv')
df_renta_2021 = pd.read_csv('./data/renta/2021_atles_renda_bruta_llar.csv')

In [10]:
df_renta_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Any                                   1068 non-null   int64
 1   Codi_Districte                        1068 non-null   int64
 2   Nom_Districte                         1068 non-null   object
 3   Codi_Barri                            1068 non-null   int64
 4   Nom_Barri                             1068 non-null   object
 5   Seccio_Censal                         1068 non-null   int64
 6   Import_Renda_Bruta_€                  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

In [11]:
df_renta_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Any                                   1068 non-null   int64
 1   Codi_Districte                        1068 non-null   int64
 2   Nom_Districte                         1068 non-null   object
 3   Codi_Barri                            1068 non-null   int64
 4   Nom_Barri                             1068 non-null   object
 5   Seccio_Censal                         1068 non-null   int64
 6   Import_Renda_Bruta_€                  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

In [12]:
df_renta_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Any                                   1068 non-null   int64
 1   Codi_Districte                        1068 non-null   int64
 2   Nom_Districte                         1068 non-null   object
 3   Codi_Barri                            1068 non-null   int64
 4   Nom_Barri                             1068 non-null   object
 5   Seccio_Censal                         1068 non-null   int64
 6   Import_Renda_Bruta_€                  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

In [13]:
df_renta_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Any                                   1068 non-null   int64
 1   Codi_Districte                        1068 non-null   int64
 2   Nom_Districte                         1068 non-null   object
 3   Codi_Barri                            1068 non-null   int64
 4   Nom_Barri                             1068 non-null   object
 5   Seccio_Censal                         1068 non-null   int64
 6   Import_Renda_Bruta_€                  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

In [14]:
df_renta_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Any                                   1068 non-null   int64
 1   Codi_Districte                        1068 non-null   int64
 2   Nom_Districte                         1068 non-null   object
 3   Codi_Barri                            1068 non-null   int64
 4   Nom_Barri                             1068 non-null   object
 5   Seccio_Censal                         1068 non-null   int64
 6   Import_Renda_Bruta_€                  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

In [15]:
df_renta_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Any                   1068 non-null   int64
 1   Codi_Districte        1068 non-null   int64
 2   Nom_Districte         1068 non-null   object
 3   Codi_Barri            1068 non-null   int64
 4   Nom_Barri             1068 non-null   object
 5   Seccio_Censal         1068 non-null   int64
 6   Import_Renda_Bruta_€  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

In [16]:
df_renta_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Any                   1068 non-null   int64
 1   Codi_Districte        1068 non-null   int64
 2   Nom_Districte         1068 non-null   object
 3   Codi_Barri            1068 non-null   int64
 4   Nom_Barri             1068 non-null   object
 5   Seccio_Censal         1068 non-null   int64
 6   Import_Renda_Bruta_€  1068 non-null   int64
dtypes: int64(5), object(2)
memory usage: 58.5+ KB

### 2015,216,2017,2018,2019 Tienen errores en la columna __Import_Renda_Bruta_€__ haciendo difícil su concantenación

In [17]:
df_renta_2015.rename(columns={"Import_Renda_Bruta_€                ": "Import_Renda_Bruta_€"}, inplace=True)
df_renta_2016.rename(columns={"Import_Renda_Bruta_€                ": "Import_Renda_Bruta_€"}, inplace=True)
df_renta_2017.rename(columns={"Import_Renda_Bruta_€                ": "Import_Renda_Bruta_€"}, inplace=True)
df_renta_2018.rename(columns={"Import_Renda_Bruta_€                ": "Import_Renda_Bruta_€"}, inplace=True)
df_renta_2019.rename(columns={"Import_Renda_Bruta_€                ": "Import_Renda_Bruta_€"}, inplace=True)

In [18]:
df_renta = pd.concat([ df_renta_2015,df_renta_2016, df_renta_2017,df_renta_2018,df_renta_2019,df_renta_2020, df_renta_2021 ], axis=0, ignore_index=True)
df_renta

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Seccio_Censal,Import_Renda_Bruta_€
0,2015,1,Ciutat Vella,1,el Raval,1,28573
1,2015,1,Ciutat Vella,1,el Raval,2,23673
2,2015,1,Ciutat Vella,1,el Raval,3,24997
3,2015,1,Ciutat Vella,1,el Raval,4,29768
4,2015,1,Ciutat Vella,1,el Raval,5,23645
...,...,...,...,...,...,...,...
7471,2021,10,Sant Martí,73,la Verneda i la Pau,143,40933
7472,2021,10,Sant Martí,65,el Clot,234,47058
7473,2021,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,235,35643
7474,2021,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,236,39514
7475,2021,10,Sant Martí,71,Provençals del Poblenou,237,35946

### comprobación de nulos

In [20]:
df_renta.isnull().sum()

Any                     0
Codi_Districte          0
Nom_Districte           0
Codi_Barri              0
Nom_Barri               0
Seccio_Censal           0
Import_Renda_Bruta_€    0
dtype: int64

In [21]:
#columna intranscendente
df_renta.drop(columns=['Seccio_Censal'], axis=1, inplace=True)

In [22]:
df_renta.head(1)

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Import_Renda_Bruta_€
0,2015,1,Ciutat Vella,1,el Raval,28573

In [30]:
df = df_renta.groupby(['Any','Codi_Districte']).agg(
    Renda_bruta_llar = ('Import_Renda_Bruta_€', 'mean'),
    any = ("Any", 'mean')
)
df.reset_index(inplace=True)

In [31]:
df.columns

Index(['Any', 'Codi_Districte', 'Renda_bruta_llar', 'any'], dtype='object')

In [32]:
df.drop(columns=['Any'], axis=1, inplace=True)

In [34]:
df.to_json('renta_for_llar.json', orient='records', lines=True)